<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Caio Marinho - caiomarinho.me">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
    <meta name="robots" content="index/follow"/>
    <meta name="keywords"
          content="template,html,design,web,frontend,wedding,bodas,website,marriage,bride,groom,responsive,themeforest,envato"/>
    <meta name="description"
          content="{{ noivo.nome }} e {{ noiva.nome }} - Wedding site."/>

    <meta property="og:title" content="{{ noivo.nome }} e {{ noiva.nome }} - Wedding"/>
    <meta property="og:url" content="#"/>
    <meta property="og:image" content="#"/>
    <meta property="og:site_name" content="{{ noivo.nome }} e {{ noiva.nome }} "/>
    <meta property="og:description" content="{{ noivo.nome }} e {{ noiva.nome }}  - Wedding site."/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{{ noivo.nome }} e {{ noiva.nome }} </title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <!-- TimeCircles-countdown -->
    <link rel="stylesheet" href="{% static 'libs/TimeCircles-countdown/TimeCircles.css' %}">

    <!-- Owl stylesheet -->
    <link rel="stylesheet" href="{% static 'libs/owl-carousel/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'libs/owl-carousel/owl.theme.css' %}">

    <!-- Magnific Popup -->
    <link rel="stylesheet"
          href="{% static 'libs/magnific-popup/magnific-popup.css' %}">

    <!-- Loading Rolling -->
    <link rel="stylesheet" href="{% static 'libs/loading/rolling.css' %}">

    <!-- Fonts -->
    <link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Oswald:400,300,700'>
    <link rel='stylesheet' type='text/css'
          href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800,300italic,400italic,700italic,600italic,800italic'>

    <!-- FontAwesome Icons -->
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">

    <!-- Theme Main Style -->
    <link rel="stylesheet" href="{% static 'css/theme-style.css' %}">

    <style>
        body {
            color: #7b7571;
        }

        .btn-primary,
        .btn-primary.btn-bordered:focus,
        .btn-primary.btn-bordered:hover,
        .btn-primary.btn-bordered:active,
        .btn-primary.btn-bordered:active:focus,
        .btn-primary.btn-bordered.active {
            background: {{ recepcao.cor_casamento }};
            border: solid 2px{{ recepcao.cor_casamento }};
            color: #fff;
        }

        .btn-primary:focus,
        .btn-primary:hover,
        .btn-primary:active,
        .btn-primary:active:focus,
        .btn-primary.active,
        .btn-primary.btn-bordered {
            background: none;
            border: solid 2px{{ recepcao.cor_casamento }};
            color: {{ recepcao.cor_casamento }};
        }

        .date span {
            border-bottom: solid 2px{{ recepcao.cor_casamento }};
        }

        .title span {
            border-color: {{ recepcao.cor_casamento }} -moz-use-text-color -moz-use-text-color;
        }

        .title-block .divider {
            border-bottom: solid 2px{{ recepcao.cor_casamento }};
        }

        .social-icons a {
            border: 4px solid #7b7571;
            background: #7b7571;
        }

        .social-icons a:hover {
            color: #fff;
            border: 4px solid{{ recepcao.cor_casamento }};
            background: {{ recepcao.cor_casamento }};
        }

        .bg-color-1, .timeline > li > .timeline-badge, .timeline > li > .timeline-end > .timeline-badge {
            background-color: {{ recepcao.cor_casamento }};
        }

        .circle, .owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span {
            background: {{ recepcao.cor_casamento }};
        }

        #ajaxForm .form-control:focus {
            border-color: {{ recepcao.cor_casamento }};
        }

        h1 span, h2 span, h3 span, h4 span, h5 span, h6 span, .txt-color-1, .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover, section#frase i, .final-frase span, #ajaxForm label.checkbox-button:hover, #ajaxForm input[type="checkbox"]:checked + label.checkbox-button {
            color: {{ recepcao.cor_casamento }};
        }

        a, a:hover {
            color: {{ recepcao.cor_casamento }};
        }

        section#home {
            background: url({{ inicio.foto_background_url }}) no-repeat;
            background-attachment: fixed;
            background-size: cover;
            text-align: center;
            height: 800px;
            padding: 50px 0px;
            position: relative;
            padding-top: 6%;
        }

        section.img-bg-2 {
            background: url({{ frase.foto_background_url }}) no-repeat;
            background-attachment: fixed;
            background-size: cover;
            color: #FFF;
        }

        section.img-bg-3 {
            background: url({{ contador.foto_background_url }}) no-repeat;
            background-attachment: fixed;
            background-size: cover;
            color: #FFF;
        }

        section.img-bg-4 {
            background: url({{ presentes.foto_background_url }}) no-repeat;
            background-attachment: fixed;
            background-size: cover;
            color: #FFF;
        }

        section.img-bg-5 {
            background: url({{ footer.foto_background_url }}) no-repeat;
            background-attachment: fixed;
            background-size: cover;
            color: #FFF;
        }

    </style>

    <!--========================Color Variant====================-->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<style>
    #fixfoot {
        position: fixed;
        left: 0px;
        bottom: 0px;
        height: 80px;
        width: 100%;
        background: transparent;
    }

    /* IE 6 */
    * html #fixfoot {
        position: absolute;
        top: expression((0-(footer.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight)+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop))+'px');
    }
</style>
<!-- END: fullscreenloading -->
<div id="fullscreenloading">
    <div id="fullscreenloading-content">
        <div id="boxedResult">
            <div id="sendResult">
                <div class="uil-rolling-css">
                    <div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
                <div class="uil-rolling-css">
                    <div>
                        <button class="" onclick="">Fechar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- END: fullscreenloading -->

<!-- START SECTION: home -->
<section id="home" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h3 class="title"><span></span>{{ inicio.frase }}<span></span></h3>
                <ul class="names">
                    <li>{{ noivo.nome }}</li>
                    <li class="circle">&amp;</li>
                    <li>{{ noiva.nome }}</li>
                </ul>
                <div class="date"><span>{{ recepcao.data|date:"d" }}</span> {{ recepcao.data|date:"F" }}
                    de {{ recepcao.data|date:"Y" }}</div>
                <div class="hour">{{ recepcao.hora|time:"H:i" }}</div>
                <div class="place">
                    <h3>{{ recepcao.local }}</h3>
                    <p>{{ recepcao.endereco }}</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END SECTION: home -->

<!-- START: main-sticky-nav -->
<header>
    <div class="sticky-wrapper" id="nav-sticky-wrapper">
        <nav id="nav" class="navbar navbar-default">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <ul class="names">
                        <li>{{ noivo.nome }}</li>
                        <li class="circle">&amp;</li>
                        <li>{{ noiva.nome }}</li>
                    </ul>
                </a>
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav_menu">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="nav_menu">
                    <ul id="nav_list" class="nav navbar-nav navbar-right">
                        <li class="active"><a href="#home">Início</a></li>
                        {% if noivos.habilitado %}
                            <li class=""><a href="#couple">{{ noivos.titulo_menu }}</a></li>
                        {% endif %}
                        {% if timeline.habilitado %}
                            <li class=""><a href="#our-story">Nossa História</a></li>
                        {% endif %}
                        {% if galeria.habilitado %}
                            {% if categorias_galeria|length > 0 %}
                                <li class=""><a href="#gallery">Galeria</a></li>
                            {% endif %}
                        {% endif %}
                        {% if padrinhos.habilitado %}
                            <li class=""><a href="#featured-people">Padrinhos</a></li>
                        {% endif %}
                        {% if rsvp_page.habilitado %}
                            <li class=""><a href="#rsvp">RSVP</a></li>
                        {% endif %}
                        {% if presentes.habilitado %}
                            {% if presentes.itemlistapresentes_set.all|length > 0 %}
                                <li class=""><a href="#gift-registry">Lista de Presentes</a></li>
                            {% endif %}
                        {% endif %}
                        {% if mural.habilitado %}
                            <li class=""><a href="#mural">Mural</a></li>
                        {% endif %}
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container -->
        </nav>
    </div>
</header>
<!-- END: main-sticky-nav -->

<!-- START SECTION: couple -->
{% if noivos.habilitado %}
    <section id="couple" class="bg-gray-1">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-xs-12 text-center">
                    <div class="profile">
                        <h2>{{ noivo.nome }} <span>{{ noivo.sobrenome }}</span></h2>
                        <img src="{{ noivo.foto_url }}" class="img-responsive img-circle"
                             style="width: 320px; height: 320px;" alt="Groom"/>
                        <p>
                            {{ noivo.descricao }}
                        </p>
                        <div class="social-icons">
                            <a href="{{ noivo.facebook }}"
                               target="_blank" class="facebook"><i class="fa fa-facebook"></i></a>
                            <a href="{{ noivo.instagram }}"
                               target="_blank" class="instagram"><i class="fa fa-instagram"></i></a>
                            <a href="mailto:{{ noivo.email }}"
                               target="_blank" class="twitter"><i class="fa fa-envelope"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xs-12 text-center">
                    <div class="profile">
                        <h2>{{ noiva.nome }} <span>{{ noiva.sobrenome }}</span></h2>
                        <img src="{{ noiva.foto_url }}" class="img-responsive img-circle"
                             style="width: 320px; height: 320px;" alt="Groom"/>
                        <p>
                            {{ noiva.descricao }}
                        </p>
                        <div class="social-icons">
                            <a href="{{ noiva.facebook }}"
                               target="_blank" class="facebook"><i class="fa fa-facebook"></i></a>
                            <a href="{{ noiva.instagram }}"
                               target="_blank" class="instagram"><i class="fa fa-instagram"></i></a>
                            <a href="mailto:{{ noiva.email }}"
                               target="_blank" class="twitter"><i class="fa fa-envelope"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endif %}
<!-- END SECTION: couple -->

<!-- START SECTION: frase -->
{% if frase.habilitado %}
    <section id="frase" class="img-bg-2" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-xs-12 text-center">
                    <h2><i class="fa fa-quote-left" aria-hidden="true"></i>
                        {{ frase.frase }}
                        <i class="fa fa-quote-right" aria-hidden="true"></i></h2>
                </div>
            </div>
        </div>
    </section>
{% endif %}
<!-- END SECTION: frase -->

<!-- START SECTION: our-story -->
{% if timeline.habilitado %}
    <section id="our-story">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-xs-12 text-center">
                    <div class="title-block">
                        <h1>Nossa <span><em>História</em></span></h1>
                        <div class="divider"></div>
                        <p><em>{{ timeline.texto_historia }}</em></p>
                    </div>
                </div>
            </div>
            <ul class="timeline">
                {% for itemtimeline in timeline.itemtimeline_set.all %}
                    <li class="{% cycle 'timeline-verted' 'timeline-inverted' %}">
                        <div class="timeline-badge"><i class="fa fa-heart" aria-hidden="true"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h2 class="timeline-title">
                                    <span>{{ itemtimeline.data|date:"d" }} </span>{{ itemtimeline.data|date:"M" }} {{ itemtimeline.data|date:"Y" }}
                                </h2>
                            </div>
                            <div class="timeline-body text-center">
                                <img src="{{ itemtimeline.foto_url }}" class="img-responsive"
                                     alt="{{ itemtimeline.titulo }}"/>
                                <h2 class="timeline-title">{{ itemtimeline.titulo }}</h2>
                                <p>{{ itemtimeline.descricao }}</p>
                            </div>
                        </div>
                    </li>
                {% endfor %}
                <li>
                    <div class="timeline-end">
                        <div class="timeline-badge"><i class="fa fa-heart" aria-hidden="true"></i></div>
                    </div>
                </li>
            </ul>
            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-xs-12 text-center">
                    <div class="final-frase">Agora nós estamos prontos para o <span>próximo passo...</span></div>
                </div>
            </div>
        </div>
    </section>
{% endif %}
<!-- END SECTION: our-story -->

<!-- START SECTION: counter -->
{% if contador.habilitado %}
    <section id="counter" class="img-bg-3" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-xs-12 text-center">

                    <h2>Contando os minutos para o grande dia!</h2>

                    <!-- Countdown -->
                    <div class="countdown"
                         data-date="{{ recepcao.data|date:"Y" }}-{{ recepcao.data|date:"m" }}-{{ recepcao.data|date:"d" }} {{ recepcao.hora|time:"H" }}:{{ recepcao.hora|date:"m" }}:00"></div>
                </div>
            </div>
        </div>
    </section>
{% endif %}
<!-- END SECTION: counter -->

<!-- START SECTION: gallery -->
{% if galeria.habilitado %}
    {% if categorias_galeria|length > 0 %}
        <section id="gallery">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 col-xs-12 text-center">
                        <div class="title-block">
                            <h1>Galeria de <span><em>Fotos</em></span></h1>
                            <div class="divider"></div>
                            <p><em>
                                {{ galeria.texto }}
                            </em></p>
                            <div class="gallery_nav">
                                <button class="btn btn-primary btn-bordered filter-button active" data-filter="all">Tudo
                                </button>
                                {% for category in categorias_galeria %}
                                    <button class="btn btn-primary btn-bordered filter-button"
                                            data-filter="gallery-{{ category.titulo }}">
                                        {{ category.titulo }}
                                    </button>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row gallery-popup">
                    {#            -----------     FAMILIA ------  #}
                    {% for cat in categorias_galeria %}
                        {% for item in cat.itemgaleria_set.all %}
                            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter gallery-{{ item.categoria.titulo }}">
                                <a href="{{ item.foto_url }}" class="mfp-image" title="">
                                    <img src="{{ item.foto_url }} " class="img-responsive"
                                         alt="Gallery image">
                                </a>
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </section>
    {% endif %}
{% endif %}
<!-- END SECTION: gallery -->

<!-- START SECTION: featured-people -->
{% if padrinhos.habilitado %}
    <section id="featured-people" class="bg-gray-1">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-xs-12 text-center">
                    <div class="title-block">
                        <h1>Os <span><em>Padrinhos</em></span></h1>
                        <div class="divider"></div>
                        <p><em>{{ padrinhos.frase }}</em></p>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for padrinho in padrinhos.itempadrinho_set.all %}
                    <div class="col-sm-6 col-xs-12 {% cycle ' ' 'featured-right' %}">
                        <div class="featured">
                            <img src="{{ padrinho.foto_url }}"
                                 class="img-responsive img-circle"
                                 alt="Groom"/>
                            <div class="text">
                                <h2>{{ padrinho.nome }}</h2>
                                {#                        <h4><span><em>Best Man</em></span></h4>#}
                                {#                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris porttitor non sem eu#}
                                {#                            faucibus. Aenean pellentesque dui tincidunt, dictum massa congue, euismod ipsum. Duis auctor#}
                                {#                            in est ac dignissim.</p>#}
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endif %}
<!-- END SECTION: featured-people -->


<!-- START SECTION: rsvp -->
{% if rsvp_page.habilitado %}
    <section id="rsvp">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 col-xs-12 text-center">
                    <div class="title-block">
                        <h1><span><em>RSVP</em></span></h1>
                        <div class="divider"></div>
                        <p>
                            <em>
                                {{ rsvp_page.texto }}
                            </em>
                        </p>
                        <p><em>Por favor, selecione os eventos que você vai participar e preencha o seguinte formulário
                            com
                            confirme.</em></p>
                    </div>

                </div>
                <div class="col-md-8 col-md-offset-2 col-xs-12 text-center">

                    <form id="ajaxForm" data-toggle="validator">
                        {% csrf_token %}
                        <div class="row bot-mrg-20">
                            <div class="col-md-6 text-center">
                                <input type="checkbox" id="checkbox-2" name="cerimonia" value="Ceremony">
                                <label for="checkbox-2" class="checkbox-button"><i class="fa fa-circle-o"
                                                                                   aria-hidden="true"></i>
                                    Cerimônia</label>
                            </div>
                            <div class="col-md-6 text-center">
                                <input type="checkbox" id="checkbox-3" name="recepcao" value="Party">
                                <label for="checkbox-3" class="checkbox-button"><i class="fa fa-circle-o"
                                                                                   aria-hidden="true"></i>
                                    Recepção</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="name" placeholder="Seu Nome" max="200"
                                           maxlength="200" required>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="email" class="form-control" name="email" placeholder="Seu Email"
                                           required>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                <textarea rows="5" class="form-control" name="message"
                                          placeholder="Escreva uma mensagem...​" required></textarea>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                        </div>
                    </form>

                    <button class="btn btn-primary btn-lg" id="ajaxFormSubmit" type="submit">Confirmar Presença</button>
                </div>
            </div>
        </div>
    </section>
{% endif %}
<!-- END SECTION: rsvp -->

<!-- START SECTION: gift-registry -->
{% if presentes.habilitado %}
    {% if presentes.itemlistapresentes_set.all|length > 0 %}
        <section id="gift-registry" class="img-bg-4" data-stellar-background-ratio="0.5">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1 col-xs-12 text-center">
                        <div class="title-block">
                            <h1>Lista de <span><em>Presentes</em></span></h1>
                            <div class="divider"></div>
                            <p><em>{{ presentes.texto }}</em></p>
                        </div>

                        <div id="owl-logo">
                            {% for pre in presentes.itemlistapresentes_set.all %}
                                {% if pre.is_site %}
                                    <div class="item"><a
                                            href="{{ pre.link_url }}"
                                            target="_blank">
                                        <img style="height:91px;" src="{{ pre.foto_url }}" alt="Owl Image">
                                    </a></div>
                                {% elif pre.is_site == False %}
                                    <div class="item">
                                        <a href="#" data-toggle="modal" data-target="#{{ pre.key }}">
                                            <img style="height:91px;" src="{{ pre.foto_url }}" alt="Owl Image">
                                        </a>
                                    </div>
                                {% else %}
                                    <div class="item">
                                        <a href="#" data-toggle="modal" data-target="#{{ pre.key }}">
                                            <img style="height:91px;" src="{{ pre.foto_url }}" alt="Owl Image">
                                        </a>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>

                    </div>
                </div>
            </div>
        </section>
        {% for prese in presentes.itemlistapresentes_set.all %}
            {% if prese.is_site == False %}
                <div class="modal fade" id="{{ prese.key }}" tabindex="-1" role="dialog"
                     aria-labelledby="{{ prese.key }}">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title" id="myModalLabel">{{ prese.nome }}</h4>
                            </div>
                            <div class="modal-body">
                                {{ prese.iframe|safe }}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar
                                </button>
                                <button type="button" class="btn btn-primary" data-dismiss="modal">Ok
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="modal fade" id="{{ prese.key }}" tabindex="-1" role="dialog"
                     aria-labelledby="{{ prese.key }}">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title" id="myModalLabel">{{ prese.nome }}</h4>
                            </div>
                            <div class="modal-body text-center">
                                <img src="{{ prese.foto_url }}" alt="Owl Image"
                                     class="img-responsive text-center"
                                     style="display: inline;">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar
                                </button>
                                <button type="button" class="btn btn-primary" data-dismiss="modal">Ok
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endif %}
<!-- END SECTION: gift-registry -->

<!-- START SECTION: mural -->
{% if mural.habilitado %}
    <section id="mural">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 col-xs-12 text-center">
                    <div class="title-block">
                        <h1>Mural de <span><em>Recados</em></span></h1>
                        <div class="divider"></div>
                        <p><em>
                            {{ mural.texto }}
                        </em></p>
                    </div>

                </div>
                <div class="col-md-8 col-md-offset-2 col-xs-12 text-center">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 col-xs-12">
                            {% for recado in recados %}
                                <div class="featured">
                                    {% if recado.foto %}
                                        <img src="{{ recado.foto }}"
                                             class="img-responsive img-circle"
                                             alt="{{ recado.nome }}"/>
                                    {% else %}
                                        <img src="http://placehold.it/500x500"
                                             class="img-responsive img-circle"
                                             alt="Groom"/>
                                    {% endif %}

                                    <div class="text">
                                        <h2>{{ recado.nome }}</h2>
                                        <p>{{ recado.texto }}</p>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            {% endfor %}

                        </div>

                    </div>
                </div>
                <div class="col-md-8 col-md-offset-2 col-xs-12 text-center">

                    <form id="ajaxFormMural" data-toggle="validator">
                        {% csrf_token %}
                        <div class="row bot-mrg-20">

                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="name" placeholder="Seu Nome" max="200"
                                           maxlength="200" required>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                <textarea rows="5" class="form-control" name="message"
                                          placeholder="Escreva sua mensagem ...​" required></textarea>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                        </div>
                    </form>

                    <button class="btn btn-primary btn-lg" id="ajaxFormMuralSubmit" type="submit">Enviar Recado</button>
                </div>
            </div>
        </div>
    </section>
{% endif %}
<!-- END SECTION: mural -->

<!-- START: footer -->
{% if footer.habilitado %}
    <section id="footer" class="img-bg-5" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 col-xs-12 text-center">
                    {% if footer.frase %}
                        <h1>{{ footer.frase }}</h1>
                    {% endif %}
                    <ul class="names">
                        <li>{{ noivo.nome }}</li>
                        <li class="circle">&amp;</li>
                        <li>{{ noiva.nome }}</li>
                    </ul>
                    <div class="copyright">All Rights Reserved © | Design: <span><a href="#"
                                                                                    target="_blank"
                                                                                    style="color: #7b7571;">Caio Marinho</a></span>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endif %}
<!-- END: footer -->

<!-- START: scripts -->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
<!-- Bootstrap main Js File-->
<script src="{% static 'js/bootstrap.min.js' %}"></script>

<!-- Color Switch -->
<style type="text/css">
    .color-switch {
        position: fixed;
        top: 40%;
        left: -121px;
        background: #fff;
        padding: 20px;
        transition: all .4s;
        z-index: 9999999;
        box-shadow: 0px 0px 10px #eae8e8;
    }

    .switch-active {
        left: 0;
    }

    .color-switch .icon {
        position: absolute;
        top: 0;
        right: -40px;
        width: 40px;
        height: 40px;
        font-size: 20px;
        text-align: center;
        line-height: 40px;
        color: #121212;
        background: #fff;
        box-shadow: 0px 0px 10px #eae8e8;
        cursor: pointer;
    }

    .color-switch .icon i {
        -webkit-animation: fa-spin 2s infinite linear;
        animation: fa-spin 2s infinite linear;
    }

    .color-switch button::after {
        content: "\f00c";
        font-family: "FontAwesome";
        position: absolute;
        top: 0;
        left: 5px;
        font-size: 10px;
        color: #fff;
        opacity: 0;
    }

    .color-switch button {
        width: 20px;
        margin: 2px;
        height: 20px;
        line-height: 20px;
        border: 0;
        text-align: center;
        position: relative;
    }

    .color-switch .blue {
        background: #7E6DF6;
    }

    .color-switch .active::after {
        opacity: 1;
    }
</style>

<!-- Sticky Navbar -->
<script type="text/javascript" src="{% static 'js/jquery.sticky.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.nav.js' %}"></script>
<!-- owl-carousel -->
<script src="{% static 'libs/owl-carousel/owl.carousel.min.js' %}"></script>
<!-- Stellar -->
<script src="{% static 'libs/stellar/jquery.stellar.min.js' %}"></script>
<!-- gallery-grid -->
<script src="{% static 'libs/gallery-grid/gallery-grid.js' %}"></script>
<!-- Magnific Popup core JS file -->
<script src="{% static 'libs/magnific-popup/jquery.magnific-popup.min.js' %}"></script>
<!-- Bootstrap Validator -->
<script src="{% static 'libs/bootstrap-validator/validator.min.js' %}"></script>
<!-- TimeCircles-countdown -->
<script src="{% static 'libs/TimeCircles-countdown/TimeCircles.js' %}"></script>

<!-- Theme Main Js file -->
<script src="{% static 'js/theme-main.js' %}"></script>
<!-- END: scripts -->
<script>
    $(document).ready(function () {
        $('button[title="Play"]').click();
    });
</script>

</body>
</html>
